
@{
    ViewBag.Title = "TaskList";
}

<h1 align="center">Task List</h1>

<a href="/Home/NewTaskForm">Add a new Task</a>

<table class="table">
    <tr>
        <th>
            User Name
        </th>
        <th>
            Task Name
        </th>
        <th>
            Description
        </th>
        <th>
            Due Date
        </th>
        <th>
            Status
        </th>

    </tr>

    @foreach (var task in ViewBag.TaskList)
    {
    <tr>
        <td>@task.UserName</td>
        <td>@task.TaskName</td>
        <td>@task.Description</td>
        <td>@task.DueDate</td>
        <td>@task.Status</td>


        <td><a href="/Home/DeleteTask?TaskID=@task.TaskName">Delete</a></td>

        <td><a href="/Home/ChangeStatus?TaskID=@task.TaskName">ChangeStatus</a></td>

    </tr>
    }

</table>